.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #59AAEC;
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 40px;
    padding: 6px 0;
    gap: 16px;

    & h2 {
        padding-top: 6px;
    }
}

.section-title__edit {
    position: absolute;
    margin-left: 640px;
    margin-bottom: 20px;

    & button {
        padding: 0;
        border: 0;
        box-shadow: none;
    }

    & button:hover {
       color: #B325AB;
    }
}