.search-horse {
    display: flex;
    align-items: center;

    & button {
        height: fit-content;
        margin: auto;
    }
}

.search-horse__input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-horse__input-under {
    display: flex;
    gap: 16px;
}