.login {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;

    & button {
        width: 80%;
        margin: 12px 0;
    }

    & input {
        margin: 0 24px;
    }
}