@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  font-family: "Faustina", "Archivo Narrow", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #272C54;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 32px;
  line-height: 0.4;
}

h2 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

h3 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1.3;
}

h4 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  line-height: 0.9;
}

p {
  font-family: "Faustina", sans-serif;
  font-size: 16px;
}

a {
    text-decoration: none;
    color: #272C54;
}

a:hover {
  color: #B325AB;
}

table {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 1.3;
}

button {
  font-family: "Archivo Narrow", sans-serif;
  border-radius: 8px;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #59AAEC;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: #272C54 2px 2px 4px;
}
button:hover {
  border-color: #B325AB;
}

label {
  display: flex;
  flex-direction: column;
  font-family: "Archivo Narrow", sans-serif;
}

input {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  background-color: #d9d9d9;
  border: 0;
  border-radius: 8px;
  padding: 6px;
}

select {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 16px;
  background-color: #d9d9d9;
  border: 0;
  border-radius: 8px;
  padding: 6px;
}